<launch>
    <!--MAP SERVER-->
    <node pkg = "map_server" name = "map_server" type = "map_server" args = "/home/emre/map.yaml"/>
        <param name="frame_id" value="/map" />

    <!--TB1-->
    <include file="$(find multirobot_coordination)/launch/bringup_state_pup_ns.launch">
        <arg name="my_robot" value="tb1" />
    </include>
 
    <include file="$(find multirobot_coordination)/launch/movebase_ns.launch">
        <arg name="my_robot" value="tb1" />

    </include>

    
    <include file="$(find multirobot_coordination)/launch/amcl_ns.launch">
        <arg name="my_robot" value="tb1" />
    </include>   

    <!--TB1 END-->


    <!--TB2-->
    <include file="$(find multirobot_coordination)/launch/bringup_state_pup_ns.launch">
        <arg name="my_robot" value="tb2" />
    </include>

    <include file="$(find multirobot_coordination)/launch/movebase_ns.launch">
        <arg name="my_robot" value="tb2" />

    </include>

    
    <include file="$(find multirobot_coordination)/launch/amcl_ns.launch">
        <arg name="my_robot" value="tb2" />
    </include>   

    <!--TB2 END-->


    <!--RVIZ NAV-->
    <node pkg="rviz" type="rviz" name="rviz" required="true"
                 args="-d $(find multirobot_coordination)/rviz/multirobot_coordination.rviz"/>


</launch>
