<launch>
    <group ns="tb1">
        <node pkg = "move_base" type = "move_base" respawn = "false" name = "move_base" output = "screen">
            <!--
            <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
            <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_burger.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_burger.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml" command="load" />
            <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml" command="load" />
            <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml" command="load" />
            <rosparam file="$(find turtlebot3_navigation)/param/dwa_local_planner_params_burger.yaml" command="load" />
            -->
            <param name="TrajectoryRollout/meter_scoring" value="true"/>

            <param name = "global_costmap/scan/sensor_frame" value="tb1/base_scan"/>
            <param name = "global_costmap/obstacle_layer/scan/sensor_frame" value = "tb1/base_scan"/>
            <param name = "global_costmap/global_frame" value="tb1/map"/>
            <param name = "global_costmap/robot_base_frame" value="tb1/base_footprint"/>
            <param name = "local_costmap/scan/sensor_frame" value="tb1/base_scan"/>
            <param name = "local_costmap/obstacle_layer/scan/sensor_frame" value="tb1/base_scan"/>
            <param name = "local_costmap/global_frame" value="tb1/odom"/>
            <param name = "local_costmap/robot_base_frame" value="tb1/base_footprint"/>
            <remap from = "map" to = "tb1/map"/>
            <remap from="cmd_vel" to="tb1/cmd_vel"/>
            <param name="DWAPlannerROS/min_vel_x" value="0.0" if="false" />
        </node>
    </group>
    <!--
    <group ns="tb2">
        <node pkg = "move_base" type = "move_base" respawn = "false" name = "move_base" output = "screen">
            <param name = "global_costmap/scan/sensor_frame" value="tb2/base_scan"/>
            <param name = "global_costmap/obstacle_layer/scan/sensor_frame" value = "tb2/base_scan"/>
            <param name = "global_costmap/global_frame" value="tb2/map"/>
            <param name = "global_costmap/robot_base_frame" value="tb2/base_footprint"/>
            <param name = "local_costmap/scan/sensor_frame" value="tb2/base_scan"/>
            <param name = "local_costmap/obstacle_layer/scan/sensor_frame" value="tb2/base_scan"/>
            <param name = "local_costmap/global_frame" value="tb2/odom"/>
            <param name = "local_costmap/robot_base_frame" value="tb2/base_footprint"/>
            <remap from = "map" to = "tb2/map"/>

        </node>
    </group>
    -->
</launch>