<launch>
    <arg name="my_robot"/>

    <group ns="$(arg my_robot)">
    <!-- move_base -->
        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
            <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_burger.yaml"      command="load" ns="global_costmap" />
            <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_burger.yaml"      command="load" ns="local_costmap" />
            <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml"              command="load" />
            <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml"             command="load" />
            <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml"                  command="load" />
            <rosparam file="$(find turtlebot3_navigation)/param/dwa_local_planner_params_burger.yaml"   command="load" />
            
            <param name="global_costmap/scan/sensor_frame"                  value="$(arg my_robot)/base_scan"/>
            <param name="global_costmap/obstacle_layer/scan/sensor_frame"   value="$(arg my_robot)/base_scan"/>
            <param name="global_costmap/global_frame"                       value="map"/>
            <param name="global_costmap/robot_base_frame"                   value="$(arg my_robot)/base_footprint"/>

            <param name="local_costmap/scan/sensor_frame"                   value="$(arg my_robot)/base_scan"/>
            <param name="local_costmap/obstacle_layer/scan/sensor_frame"    value="$(arg my_robot)/base_scan"/>
            <param name="local_costmap/global_frame"                        value="$(arg my_robot)/odom"/> 
            <param name="local_costmap/robot_base_frame"                    value="$(arg my_robot)/base_footprint"/>
            <remap from="map" to="/map"/>
        </node>  

    </group>

</launch>