<launch>
    <arg name="my_ns"/>
    <group ns="$(arg my_ns)">
        <include file="$(find multirobot_coordination)/launch/slam_movebase.launch">
            <arg name="set_base_frame" value="$(arg my_ns)/base_footprint"/>
            <arg name="set_odom_frame" value="$(arg my_ns)/odom"/>
            <arg name="set_map_frame" value="$(arg my_ns)/map"/>
            <arg name="multi_robot_name" value="$(arg my_ns)"/>
 
        </include>


        <node pkg="tf" type="static_transform_publisher" name="world_$(arg my_ns)" args="1 0 0 0 0 0 1 world $(arg my_ns)/map 100" />
        
    </group>


    
    
</launch>